# Игнорировать папки, создаваемые IntelliJ
.idea
target

# Игнорировать файлы в папке public
# в ней находятся файлы, которые понадобятся для защиты
public

# Игнорировать текстовые файлы
**/*.txt
**/*.log

# Игнорировать все изображения
**/*.jpg
**/*.png
