<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Создание урока</title>

  <link rel="stylesheet" href="/resources/css/style.css">
  <link rel="stylesheet" href="/resources/css/blocks/container.css">
  <link rel="stylesheet" href="/resources/css/blocks/form.css">
</head>


<body>
  
<!--========== ФОРМА СОЗДАНИЯ УРОКА ==========-->
<div class="form__container">
  <h1 class="form__title">Создание урока</h1>

  <form class="form">

    <div class="form__element">
      <input type="text"
             class="input"
             placeholder="Название урока">
    </div>

    <div class="form__element">
      <textarea class="textarea" placeholder="Содержание урока"></textarea>
    </div>

    <div class="form__element centered">
      <button class="button" type="submit">Создать урок</button>
    </div>

  </form>
</div>

</body>

</html>
