<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Уроки курса</title>

  <link rel="stylesheet" href="../../../resources/css/style.css">
  <link rel="stylesheet" href="../../../resources/css/blocks/container.css">
  <link rel="stylesheet" href="../../../resources/css/blocks/logo.css">

  <link rel="stylesheet" href="../../../resources/css/blocks/sidebar.css">
  <link rel="stylesheet" href="../../../resources/css/blocks/lesson.css">
</head>


<body>

<!--========== САЙДБАР СО СПИСКОМ УРОКОВ ==========-->
<aside class="sidebar">
  <ul class="lessons">
    <li class="lesson__link logo">
      <a href="/langmaster/course/lesson/{id}" class="lesson__title">LangMaster</a>
    </li>

    <li class="lesson__link">
      <a href="/langmaster/course/lesson/{id}" class="lesson__title">Урок №1</a>
    </li>

    <li class="lesson__link">
      <a href="/langmaster/course/lesson/{id}" class="lesson__title">Урок №2</a>
    </li>

    <li class="lesson__link">
      <a href="/langmaster/course/lesson/{id}" class="lesson__title">Урок №3</a>
    </li>

    <li class="lesson__link">
      <a href="/langmaster/course/lesson/{id}" class="lesson__title">Урок №4</a>
    </li>
  </ul>
</aside>


<!--========== СЕКЦИЯ С СОДЕРЖАНИЕМ УРОКА ==========-->
<main class="lesson">
  <div class="container">
    <header class="lesson__header">
      <h1 class="lesson__title">Урок №1</h1>
      <h2 class="lesson__theme">Какая-то тема</h2>
    </header>

    <div class="lesson__content">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum tempora ipsa molestias eum laborum dolorum consectetur optio, cumque in necessitatibus neque explicabo qui recusandae, obcaecati voluptas tenetur ea, iusto, illo.</p>

      <h3>Title #1</h3>
      <p>Lorem ipsum, dolor, sit amet consectetur adipisicing elit. Architecto doloribus, odit iusto. Vero quibusdam quam laboriosam odit, delectus quia ratione ad totam iste excepturi nostrum unde! Non animi facere sapiente?</p>
    </div> <!-- ./lesson__content -->
  </div> <!-- ./container -->
</main>

</body>

</html>
