<!DOCTYPE html>
<html lang="ru" xmlns:th="http://thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title th:text="${'Профиль пользователя ' + user.getName()}">Профиль</title>

  <link rel="stylesheet" href="/resources/css/style.css">
  <link rel="stylesheet" href="/resources/css/blocks/container.css">

  <link rel="stylesheet" href="/resources/css/blocks/header.css">
  <link rel="stylesheet" href="/resources/css/blocks/logo.css">

  <link rel="stylesheet" href="/resources/css/blocks/section.css">
  <link rel="stylesheet" href="/resources/css/blocks/table.css">
  <link rel="stylesheet" href="/resources/css/blocks/centeredContainer.css">
  <link rel="stylesheet" href="/resources/css/blocks/form.css">
  <link rel="stylesheet" href="/resources/css/blocks/courses.css">

  <link rel="stylesheet" href="/resources/css/blocks/footer.css">
</head>


<body>
  
<!--========== СЕКЦИЯ С ЛИЧНОЙ ИНФОРМАЦИЕЙ ==========-->
<div class="centered_container">
  <header class="section__header">
    <h2 class="section__title">Личные данные</h2>
  </header>

  <table class="table" cellspacing="0">
    <tbody>
      <tr class="table__row">
        <td class="table__cell">ID пользователя</td>
        <td class="table__cell">&nbsp;</td>
        <td class="table__cell">&nbsp;</td>
        <td class="table__cell" th:text="${user.getId()}">ID</td>
      </tr>

      <tr class="table__row">
        <td class="table__cell">Имя пользователя</td>
        <td class="table__cell">&nbsp;</td>
        <td class="table__cell">&nbsp;</td>
        <td class="table__cell" th:text="${user.getName()}">Имя</td>
      </tr>

      <tr class="table__row">
        <td class="table__cell">Адрес электронной почты</td>
        <td class="table__cell">&nbsp;</td>
        <td class="table__cell">&nbsp;</td>
        <td class="table__cell" th:text="${user.getEmail()}">Электронная почта</td>
      </tr>

      <tr class="table__row">
        <td class="table__cell">Количество проходимых курсов</td>
        <td class="table__cell">&nbsp;</td>
        <td class="table__cell">&nbsp;</td>
        <td class="table__cell"
            th:if="${currentCourses != null}"
            th:text="${currentCourses.size()}">0</td>

        <td class="table__cell"
            th:unless="${currentCourses != null}">0</td>
      </tr>

      <tr class="table__row">
        <td class="table__cell">Дата регистрации аккаунта</td>
        <td class="table__cell">&nbsp;</td>
        <td class="table__cell">&nbsp;</td>
        <td class="table__cell" th:text="${user.getRegistrationDate()}">Дата регистрации</td>
      </tr>

      <tr class="table__row">
        <td class="table__cell">
          <a th:href="@{/langmaster/update/{id}(id=${user.getId()})}" class="button">Изменить</a>
        </td>

        <td class="table__cell">&nbsp;</td>
        <td class="table__cell">&nbsp;</td>

        <td class="table__cell">
          <form th:action="@{/langmaster/delete/{id}(id=${user.getId()})}"
                th:method="DELETE"
                onsubmit="return confirm('Вы уверены, что хотите удалить аккаунт?')"
                class="form">
            <button class="button" type="submit">Удалить</button>
          </form>
        </td>
      </tr>

      <!-- TODO: Отобразить количество созданных курсов, если пользователь админ -->
    </tbody>
  </table>
</div> <!-- ./centered_container -->

</body>

</html>
