/*================================
  ЦЕНТРИРОВАННЫЙ ПО ВСЕМ ОСЯМ БЛОК
================================*/
.centered_container {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 100%;
  max-width: 500px;

  z-index: 100;
  transform: translate(-50%, -50%);

  background-color: var(--bg-secondary);
  color: var(--bg-primary);

  padding: 20px 25px;
  box-shadow: 0px 0px 15px 0px var(--bg-secondary);
}


/* Медиа-запросы */
@media (max-width: 400px) {
  .centered_container {
    padding: 20px 15px;
  }
}
