/*=========================
  СТИЛИ ДЛЯ ЭЛЕМЕНТОВ ФОРМЫ
=========================*/
.form__container {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 100%;
  max-width: 500px;

  z-index: 100;
  transform: translate(-50%, -50%);

  background-color: var(--bg-secondary);
  color: var(--bg-primary);

  padding: 20px 25px;
  box-shadow: 0px 0px 15px 0px var(--bg-secondary);
}

.form__title {
  text-align: center;
}

.form__element {
  margin-bottom: 15px;
}

.form__element.centered {
  text-align: center;
}

.input {
  width: 100%;

  padding: 8px 12px;
  padding-left: 0;

  border-bottom: 2px solid var(--bg-primary);
  transition: border-color .1s linear;
}

.input::placeholder {
  color: var(--bg-primary);
}

.input:focus {
  border-color: #5c9d97;
}

.button {
  background-color: #345956;
  box-shadow: 0px 0px 10px 0px #0a1111;

  padding: 10px 15px;
  transition: background-color .2s linear;
}

.button:hover {
  background-color: #5d7a78;
}


/* Медиа-запросы */
@media (max-width: 400px) {
  .form__container {
    padding: 20px 15px;
  }
}
