<!DOCTYPE html>
<html lang="ru" xmlns:th="http://thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Lang Master</title>

  <link rel="stylesheet" href="/resources/css/style.css">
  <link rel="stylesheet" href="/resources/css/blocks/container.css">

  <link rel="stylesheet" href="/resources/css/blocks/header.css">
  <link rel="stylesheet" href="/resources/css/blocks/logo.css">

  <link rel="stylesheet" href="/resources/css/blocks/section.css">
  <link rel="stylesheet" href="/resources/css/blocks/courses.css">

  <link rel="stylesheet" href="/resources/css/blocks/footer.css">
</head>


<body>

<!--========== ШАПКА САЙТА ==========-->
<header class="header">
  <div class="container">
    <div class="header__inner">
      <div class="logo">
        <a href="/langmaster" class="logo__link">LangMaster</a>
      </div>

      <nav class="nav" id="nav">
        <a th:if="${user != null}"
           th:href="@{/langmaster/profile/{name}(name=${user.getName()})}"
           class="nav__link">Профиль</a>

        <a th:if="${userIsAdmin}"
           href="/langmaster/course/new"
           class="nav__link">Создать курс</a>

        <a th:if="${user == null}"
           href="/langmaster/register"
           class="nav__link">Регистрация</a>

        <a th:if="${user == null}"
           href="/langmaster/login"
           class="nav__link">Войти</a>

        <form th:if="${user != null}"
              th:action="@{/langmaster/logout}"
              th:method="POST"
              class="logout">
          <button class="nav__link" type="submit">Выйти</button>
        </form>
      </nav>

      <button class="burger" id="burger" type="button">Burger</button>
    </div> <!-- ./header__inner -->
  </div> <!-- ./container -->
</header>


<!--========== СЕКЦИЯ С ИНФОРМАЦИЕЙ О РЕСУРСЕ ==========-->
<section class="section">
  <div class="container">
    <header class="section__header">
      <h2 class="section__title">Информация о LangMaster</h2>
    </header>

    <div class="section__content">
      <img class="section__image floating" src="/resources/images/local/alphabet.jpg" alt="Alphabet">
      <p>Вследствие глобальных изменений в обществе, как в России, так во всем мире, изменилась и роль иностранного языка в системе образования, и из простого учебного предмета он превратился в базовый элемент современной системы образования, в средство достижения профессиональной реализации личности.</p>
      <p>Ни для кого ни секрет, что в современном глобальном мире, знание иностранного языка очень весомый аргумент в успешной карьере человека. Кроме того, это значительно расширяет кругозор, ведь сейчас, в эпоху интернета, достать статью на иностранном языке не проблема.</p>
      <p>Lang Master &mdash; это приложение, созданное, чтобы помочь пользователям изучить или хотя бы ознакомиться с основами того или иного иностранного языка. Разработчик этого ресурса надеется, что его творение будет хоть немного полезным.</p>
    </div> <!-- ./section__content -->
  </div> <!-- ./container -->
</section>


<!--========== СЕКЦИЯ "МОИ КУРСЫ" ==========-->
<section class="section">
  <div class="container">
    <header class="section__header">
      <h2 class="section__title">Мои курсы</h2>
    </header>

    <div class="section__content">
      <div th:if="${currentCourses != null && currentCourses.size() != 0}" class="courses">

        <div th:each="course : ${currentCourses}" class="course">
          <a th:href="@{/langmaster/course/{id}(id=${course.getId()})}">
            <div class="course__wrapper">
              <div class="course__image">
                <img th:src="@{/resources/images/{image}(image=${course.getImage().getOriginalFilename()})}"
                     alt="">
              </div>

              <div class="course__info">
                <h3 th:text="${course.getTitle()}" class="course__title">Название курса</h3>
                <p th:text="${course.getDescription()}" class="course__description">Описание курса</p>
              </div>
            </div>
          </a>
        </div>

      </div> <!-- ./courses -->

      <div th:unless="${currentCourses != null && currentCourses.size() != 0}">
        <p>На данный момент вы не проходите никаких курсов!</p>
      </div>
    </div> <!-- ./section__content -->
  </div> <!-- ./container -->
</section>


<!--========== СЕКЦИЯ "ВСЕ КУРСЫ" ==========-->
<section class="section">
  <div class="container">
    <header class="section__header">
      <h2 class="section__title">Все курсы</h2>
    </header>

    <div class="section__content">
      <div class="courses">

        <div th:each="course : ${allCourses}" class="course">
          <a th:href="@{/langmaster/course/{id}(id=${course.getId()})}">
            <div class="course__wrapper">
              <div class="course__image">
                <img th:src="@{/resources/images/{image}(image=${course.getImage().getOriginalFilename()})}"
                     alt="">
              </div>

              <div class="course__info">
                <h3 th:text="${course.getTitle()}" class="course__title">Название курса</h3>
                <p th:text="${course.getDescription()}" class="course__description">Описание курса</p>
              </div>
            </div>
          </a>
        </div>

      </div> <!-- ./courses -->
    </div> <!-- ./section__content -->
  </div> <!-- ./container -->
</section>


<!--========== СЕКЦИЯ "СОЗДАННЫЕ КУРСЫ" ==========-->
<section th:if="${userIsAdmin}" class="section">
  <div class="container">
    <header class="section__header">
      <h2 class="section__title">Созданные курсы</h2>
    </header>

    <div class="section__content">
      <div th:if="${createdCourses != null && createdCourses.size() != 0}" class="courses">

        <div th:each="course : ${createdCourses}" class="course">
          <a th:href="@{/langmaster/course/{id}(id=${course.getId()})}">
            <div class="course__wrapper">
              <div class="course__image">
                <img th:src="@{/resources/images/{image}(image=${course.getImage().getOriginalFilename()})}"
                     alt="">
              </div>

              <div class="course__info">
                <h3 th:text="${course.getTitle()}" class="course__title">Название курса</h3>
                <p th:text="${course.getDescription()}" class="course__description">Описание курса</p>
              </div>
            </div>
          </a>
        </div>

      </div> <!-- ./courses -->

      <div th:unless="${createdCourses.size() != 0}">
        <p>На данный момент вы не создали ни одного курса!</p>
      </div>
    </div> <!-- ./section__content -->
  </div> <!-- ./container -->
</section>


<!--========== ПОДВАЛ САЙТА ==========-->
<footer class="footer">
  <div class="container">
    <div class="footer__inner">
      <div class="logo">
        <a href="/langmaster" class="logo__link">LangMaster</a>
      </div>

      <span class="footer__text" id="footer-text"></span>
    </div> <!-- ./footer__inner -->
  </div> <!-- ./container -->
</footer>


<!--========== JAVASCRIPT ==========-->
<script src="/resources/js/headerAndFooter.js"></script>

</body>

</html>
